<app-template-header></app-template-header>
<div class="list-view">
    <h4>open <span>( 2 )</span></h4>
    <div class="todo-elements">
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
        <app-template-todo></app-template-todo>
    </div>
</div>
<app-template-todo-form></app-template-todo-form>
<div class="list-view">
    <h4>done <span>( 4 )</span></h4>
    <div class="todo-elements">
        
    </div>
</div>
